body {
  font-family: "Oswald", sans-serif; 
  margin-left: 40px;
  margin-right: 53px;
  width: 913px;
  height: 100%;
    
  header {
    background-image: url("/assets/header.jpg");
    font-family: "Open Sans", sans-serif;
    height: 365px;
    font-size: 11px;
    color: white;
      .surf { 
        border-style: dashed;
        padding-top: 7px;
        padding-left: 100px;
        width: 808px;
        img {
        width: 30px;
        font-family: "Open Sans", sans-serif;
        text-align: left;
        vertical-align: middle;
        padding-right: 9px;
         }
      }
        div .about{
          float: right;
          width: calc(100% - 700px);
          padding-right: 96px;
            ul li {
              list-style: none;
              display: inline-block;
                a:link {
                text-decoration: none;
                img {
                  vertical-align: middle;
                }
              }
           }
        }
      div .header {
        padding-top: 22px;
        padding-left: 40px;
        font-size: 69px;
        margin-bottom: 5px;
      }
        .small_header {
        margin-top: 0;
        padding-top: 0;
        font-size: 8px;
        text-align: center;
        color: black;
      }
  }


  .article {
    border-style: dashed;
    float: left;
    margin-top: 50px;
    margin-left: 118px;
    width: 479px;
    text-align: left;
    font-family: "Oswald", sans-serif;
      .article_title p{
        font-size: 42px;
        margin: 0;
        margin:0,0,10px,0;
        padding:0;
      }
      .by_line {
        color: #567;
        font-size: 8px;
        img {
          width: 16px; 
        }
        a:link {
          text-decoration: none;
        } 
      }
      .paragraph1 {
        font-size: 12px;
        padding-top: 5px;
      }
      .paragraph2 {
        font-size: 12px;
        padding-top: 5px;
      } 
      .proclaim {
        font-size: 24px;
        padding-top: 5px;
      }  
      .paragraph3 {
        font-size: 12px;
        padding-top: 5px;
      }    
  }

  .green {
    background-color: green;
    margin-top: 50px;
    padding-right: 96px;
    padding-top: 7px;
    text-align: left;
    font-size: 12px;
    float: right;
    width: calc(100% - 600px);
  }

  .lower {
    clear: both;
      .posts {
       font-size: 44px;
       text-align: center; 
      }
      .rollover1 {
        img {
        width: 220px;
        position: relative;
      }
        h3 {
          color: white;
          position: absolute;
          top: 1163px;
          left: 53px;
          width: 100%
        }
      }
  }

  footer {
    background-color: yellow;
    clear: both;
    font-size: 12px;
      img .logo {
      float: left;
      }
      .logo div {
        float:right;
         ul li {
            list-style: none;
            display: inline-block;
            position: relative;
            a:link {
              text-decoration: none;
            }
        }
      }
  }
}